 /**Whole body**/
 body {
    margin: 0;
    height: 70vh;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;                
    margin-top: 50px;
    display: flex;
    background-color: rgb(243, 230, 225);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content{
    background-color: rgb(0, 255, 149);
    border-radius: 20px;
    border: 1px solid orange;
    padding:2rem;
    box-shadow: 0px 0px 40px rgb(255, 69, 0);
    animation: neonGlow-content infinite alternate;
  }
  input {
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
  }
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 12.5px;
    border-color: aqua;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 10px rgba(65, 63, 63, 0.1);
  }
  button:hover {
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(68, 68, 68);
    color: white;
    transform: scale(1.05);
  }
  #result {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
  }